{% extends 'base.html' %}

{% block main %}
    <div class="container w-25 d-flex flex-column mt-5">
        <h1 class="text-center">Edit Todo Task</h1>
        <form action="{% url 'edit task' task_pk %}" method="post" class="mt-4 border border-secondary p-4">
            <div class="p-4 d-flex flex-column justify-content-center align-items-center border border-secondary rounded-5 border-2">
                {% csrf_token %}
                <div class="form-row d-flex flex-column align-items-center justify-content-center">
                    <div class="form-group col-md-6 mb-5">
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <label for="{{ form.Title.id_for_label }}" class="font-weight-bold">Title:</label>
                            {{ form.Title }}
                            {% if form.Title.errors %}
                                <div class="text-danger">{{ form.Title.errors }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group col-md-6 mb-5">
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <label for="{{ form.Description.id_for_label }}"
                                   class="font-weight-bold">Description:</label>
                            {{ form.Description }}
                            {% if form.Description.errors %}
                                <div class="text-danger">{{ form.Description.errors }}</div>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-6 mb-5">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <label for="{{ form.Deadline.id_for_label }}" class="font-weight-bold">Deadline:</label>
                        {{ form.Deadline }}
                        {% if form.Deadline.errors %}
                            <div class="text-danger">{{ form.Deadline.errors }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group col-md-6 mb-5">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <label for="{{ form.FieldOfWork.id_for_label }}" class="font-weight-bold">Field of Work:</label>
                        {{ form.FieldOfWork }}
                        {% if form.FieldOfWork.errors %}
                            <div class="text-danger">{{ form.FieldOfWork.errors }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group col-md-6 mb-5">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <label for="{{ form.Assignee.id_for_label }}" class="font-weight-bold">Assignee:</label>
                        {{ form.Assignee }}
                        {% if form.Assignee.errors %}
                            <div class="text-danger">{{ form.Assignee.errors }}</div>
                        {% endif %}
                    </div>
                </div>

                <button class="btn btn-warning btn-block btn-xxl" type="submit">Save changes</button>
            </div>
        </form>
    </div>
{% endblock %}
