{% extends 'base.html' %}

{% block main %}
    <div class="container w-25 d-flex flex-column mt-5">
        <h1 class="text-center">Add User to Group</h1>
        <form method="post" action="{% url 'add group' %}" class="mt-4 border border-secondary p-4">
            <div class="p-4 d-flex flex-column justify-content-center align-items-center border border-secondary rounded-5 border-2">
                {% csrf_token %}
                {% if error_message %}
                    <div class="alert alert-danger">{{ error_message }}</div>
                {% endif %}
                <div class="form-row d-flex flex-column align-items-center justify-content-center">
                    <div class="form-group col-md-6 mb-5">
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <label for="user_id" class="font-weight-bold">Select User:</label>
                            <select name="user_id" class="form-control">
                                {% for user in users %}
                                    <option value="{{ user.id }}">{{ user.username }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-6 mb-5">
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <label for="group_id" class="font-weight-bold">Select Group:</label>
                            <select name="group_id" class="form-control">
                                {% for group in groups %}
                                    <option value="{{ group.id }}">{{ group.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <button class="btn btn-success btn-block btn-xxl" type="submit">Add User to Group</button>
            </div>
        </form>
    </div>
{% endblock %}
