{% extends 'base.html' %}

{% block main %}
    <div class="container w-50 mt-5">
        <h1 class="text-center">Create Item</h1>
        <form method="post" action="{% url 'create item' %}" class="mt-4 border border-secondary p-4">
            {% csrf_token %}
            <div class="p-4 d-flex flex-column justify-content-center align-items-center border border-secondary rounded-5 border-2">
                <div class="form-row d-flex flex-column align-items-center justify-content-center">
                    <div class="form-group col-md-6 mb-5">
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <label for="{{ form.Name.id_for_label }}" class="font-weight-bold">Name:</label>
                            {{ form.Name }}
                            {% if form.Name.errors %}
                                <div class="text-danger">{{ form.Name.errors }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group col-md-6 mb-5">
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <label for="{{ form.Price.id_for_label }}" class="font-weight-bold">Price:</label>
                            {{ form.Price }}
                            {% if form.Price.errors %}
                                <div class="text-danger">{{ form.Price.errors }}</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6 mb-5">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <label for="{{ form.ImageUrl.id_for_label }}" class="font-weight-bold">Image URL:</label>
                        {{ form.ImageUrl }}
                        {% if form.ImageUrl.errors %}
                            <div class="text-danger">{{ form.ImageUrl.errors }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group col-md-6 mb-5">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <label for="{{ form.TodoTask.id_for_label }}" class="font-weight-bold">Todo Task:</label>
                        {{ form.TodoTask }}
                        {% if form.TodoTask.errors %}
                            <div class="text-danger">{{ form.TodoTask.errors }}</div>
                        {% endif %}
                    </div>
                </div>
                <button class="btn btn-success btn-block btn-xxl" type="submit">Create Item</button>
            </div>
        </form>
    </div>
{% endblock %}
