{% extends 'base.html' %}
{% load custom_filters %}

{% block main %}
       <div class="  d-flex flex-column " style="height: 90vh">
    <h1 class="text-center mt-5">Items List</h1>
     {% if request.user|user_belongs_to_group:'Stuff_group' %}
    <a class="btn btn-warning btn-xxl d-block mx-auto mt-1" href="{% url 'create item' %}">Create new Item</a>
{% endif %}
    <div class="d-flex flex-row align-items-start justify-content-evenly flex-wrap mt-4  overflow-auto item-container" style="height: 70vh">
        {% if items %}
            {% for item in items %}
                {% include 'item/item-partial.html' %}
            {% endfor %}
        {% else %}
            <h2>No items in the system at the moment.</h2>
        {% endif %}
    </div>
    </div>
{% endblock %}